body {
    margin: 0px;
    padding: 0px;
    background: url('../img/bg.jpg');
    color: white;
}
.left {
    /* border: 2px solid red; */
    display: inline-block;
    position: absolute;
    Left: 34px;
    top: 18px;
}
.left img {
    width: 75px;
    filter: invert(100%);
    position: relative;
    left: 2px;
}
.left div {
    text-align: center;
}
.mid {
    /* border: 2px solid green; */
    display: block;
    width: 33%;
    /* position: absolute; */
    margin: 18px auto;
}
.right {
    /* border: 2px solid yellow; */
    display: inline-block;
    position: absolute;
    right: 34px;
    top: 18px;
    padding: 10px 13px;
    font-size: 21px;
}
.navBar {
    display: inline-block;
}
.navBar li {
    display: inline-block;
}
.navBar li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 15px;
}
.navBar li a:hover, .navBar li a.active {
    color: gray;
    text-decoration: underline;
}
.btn {
    margin: 0px 10px;
    background-color: black;
    color: white;
    padding: 3px 5px;
    /* border: 2px solid gray; */
    border-radius: 18px;
    font-size: 15px;
    cursor: pointer;
}
.btn:hover {
    background-color: green;
}
.container {
    border: 2px solid salmon;
    margin: 40px 31px;
    padding: 31px 53px;
    width: 33%;
    border-radius: 40px;
}
.form-group input {
    text-align: center;
    margin: 6px auto;
    padding: 4px 15px;
    width: 350px;
    display: block;
    /* border: 2px solid gray; */
    border-radius: 12px;
    font-size: 15px;
}
.container h2 {
    text-align: center;
}
.container button {
    display: block;
    width: 30%;
    margin: 10px auto;
    font-size: 15px;
}